.Day{
    background-color: bisque;
    background-attachment: fixed;
    background-size: cover;
    height: 660px;
    color: black;
}
.Night{
    background-color: darkslategray;
    background-attachment: fixed;
    background-size: cover;
    height: 665px;
    color: white;
}
